body {
  margin: 0;
  padding:0;
}

.navlist {
  list-style-type: none;
}

li {
  display: inline-block;
  text-decoration: none;
}

.navbar {
  padding: 5px;
  background-color: #81e67e;
}

li a {
  text-decoration: none;
}
